- content_for 'page_css' do
  :sass
    div.biography
      margin: 5px 20px
      color: #444

    #content .form-area div.error-with-field
      font-family: Georgia,Palatino,"Times New Roman",Times,serif
      font-size: 200%
      width: 100%

    input.textbox
      width: 300px

    input.textbox-short
      width: 40px

    input.textbox-long
      width: 500px

    textarea.textarea-small
      height: 75px !important
      width: 100%
      display: block

    textarea.textarea-large
      height: 150px !important
      width: 100%
      display: block

    input.file
      margin: 50px 0

    img.photo
      margin: 5px 0
      border: 2px solid #fff

%h1= 'Edit Staff Profile'

- form_for_staff_profile_admin @profile do |f|
  .form-area
    %table
      %tr
        %td
          %label First Name
        %td
          %label M.I.
        %td
          %label Last Name
      %tr
        %td
          = f.text_field :first_name, :class => 'textbox', :disabled => true
        %td
          = f.text_field :middle_initial, :class => 'textbox-short'
        %td
          = f.text_field :last_name, :class => 'textbox',  :disabled => true
    %table
      %tr
        %td
          %label Position Type (required)
      %tr
        %td
          = f.collection_select :position_type_id, PositionType.find_all, :id, :name, { :include_blank => true }, :class => 'selectbox'
      %tr
        %td
          %label Username (required)
      %tr
        %td
          = f.text_field :login, :class => 'textbox'
    %table
      %tr
        %td
          %label New Password
        %td
          %label Confirm Password
      %tr
        %td
          = f.password_field :password, :class => 'textbox', :value => ""
        %td
          = f.password_field :password_confirmation, :class => 'textbox', :value => ""
    %table
      %tr
        %td
          %label Degree(s)
      %tr
        %td
          = f.text_field :degree, :class => 'textbox'
      %tr
        %td
          %label Title
      %tr
        %td
          = f.text_field :title, :class => 'textbox'
      %tr
        %td
          %label Email
      %tr
        %td
          = f.text_field :email, :class => 'textbox'
      %tr
        %td
          %label Phone
      %tr
        %td
          = f.text_field :phone, :class => 'textbox'
      %tr
        %td
          %label Fax
      %tr
        %td
          = f.text_field :fax, :class => 'textbox'
      %tr
        %td
          %label Alternate Website (NOTE: Filling this out will cause your profile to redirect to the provided url)
      %tr
        %td
          = f.text_field :website, :class => 'textbox-long'
      %tr
        %td
          %label Address
      %tr
        %td
          = f.text_area :address, :class => 'textarea-small'
      %tr
        %td
          %label Biography
      %tr
        %td
          = f.text_area :biography, :class => 'textarea-large'
      %tr
        %td
          %label Affiliations
      %tr
        %td
          = f.text_area :affiliations, :class => 'textarea-small'
      %tr
        %td
          %label Research
      %tr
        %td
          = f.text_area :research, :class => 'textarea-small'
      %tr
        %td
          %label Clinical Interests
      %tr
        %td
          = f.text_area :clinical_interests, :class => 'textarea-small'
      %tr
        %td
          %label Publications
      %tr
        %td
          = f.text_area :publications, :class => 'textarea-large'
      %tr
        %td
          %label Status
      %tr
        %td
          = f.collection_select :status_id, Status.find_all, :id, :name, {}, :class => 'selectbox'
      %tr
        %td
          %label Photo
      %tr
        %td
          = image_tag(@profile.photo.url(:profile), :class => 'photo')
          %br
          = f.file_field :photo, :class => 'button'

  %p.buttons
    - button_text = @profile.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', staff_profile_admin_url
