- render :partial => "shared/css"

%h1= 'Edit Staff Profile'

- form_for_staff_profile_admin @profile do |f|
  .form-area
    %table
      %tr
        %td
          %label First Name
        %td
          %label M.I.
        %td
          %label Last Name
      %tr
        %td
          = f.text_field :first_name, :class => 'textbox', :disabled => true
        %td
          = f.text_field :middle_initial, :class => 'textbox-short'
        %td
          = f.text_field :last_name, :class => 'textbox',  :disabled => true
      = render :partial => "shared/fields", :locals => { :f => f }
  %p.buttons
    - button_text = @profile.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', staff_profile_admin_url
