- render :partial => "shared/css"

%h1= @profile.new_record? ? 'New Staff Profile' : 'Edit Staff Profile'

- form_for_profile @profile do |f|
  .form-area
    %table
      %tr
        %td
          %label First Name (required)
        %td
          %label M.I.
        %td
          %label Last Name (required)
      %tr
        %td
          = f.text_field :first_name, :class => 'textbox'
        %td
          = f.text_field :middle_initial, :class => 'textbox-short'
        %td
          = f.text_field :last_name, :class => 'textbox'
      = render :partial => "shared/fields", :locals => { :f => f }
  %p.buttons
    - button_text = @profile.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_profiles_url
