%table
  %tr
    %td
      %label Position Type (required) 
  %tr
    %td
      = f.collection_select :position_type_id, PositionType.find_all_with_names, :id, :name, { :include_blank => true }, :class => 'selectbox'
  %tr
    %td
      %label Username (required)
  %tr
    %td
      = f.text_field :login, :class => 'textbox'
%table
  %tr
    %td
      %label New Password
    %td
      %label Confirm Password
  %tr
    %td
      = f.password_field :password, :class => 'textbox', :value => ""
    %td
      = f.password_field :password_confirmation, :class => 'textbox', :value => ""
%table
  %tr
    %td
      %label Degree(s)
  %tr
    %td
      = f.text_field :degree, :class => 'textbox'
  %tr
    %td
      %label Title 
  %tr
    %td
      = f.text_field :title, :class => 'textbox'
  %tr
    %td
      %label Email
  %tr
    %td
      = f.text_field :email, :class => 'textbox'
  %tr
    %td
      %label Phone
  %tr
    %td
      = f.text_field :phone, :class => 'textbox'
  %tr
    %td
      %label Fax
  %tr
    %td
      = f.text_field :fax, :class => 'textbox'
  %tr
    %td
      %label Alternate Website (NOTE: Filling this out will cause your profile to redirect to the provided url) 
      = link_to "What Is This?", "/staff_profile_help.html#alternate_web", :class => "help", :target => "_blank"
  %tr
    %td
      = f.text_field :website, :class => 'textbox-long'
  %tr
    %td
      %label Address
  %tr
    %td
      = f.text_area :address, :class => 'textarea-small'
  %tr
    %td
      %label Biography 
      = link_to "What Is This?", "/staff_profile_help.html#biography", :class => "help", :target => "_blank"
  %tr
    %td
      = f.text_area :biography, :class => 'textarea-large'
  %tr
    %td
      %label Affiliations 
      = link_to "What Is This?", "/staff_profile_help.html#affiliations", :class => "help", :target => "_blank"
  %tr
    %td
      = f.text_area :affiliations, :class => 'textarea-small'
  %tr
    %td
      %label Research 
      = link_to "What Is This?", "/staff_profile_help.html#research", :class => "help", :target => "_blank"
  %tr
    %td
      = f.text_area :research, :class => 'textarea-small'
  %tr
    %td
      %label Clinical Interests 
      = link_to "What Is This?", "/staff_profile_help.html#clinical_interests", :class => "help", :target => "_blank"
  %tr
    %td
      = f.text_area :clinical_interests, :class => 'textarea-small'
  %tr
    %td
      %label Publications (Must be in BIBTEX format.) 
      = link_to "What Is This?", "/staff_profile_help.html#publications", :class => "help", :target => "_blank"
  %tr
    %td
      = f.text_area :publications, :class => 'textarea-large'
  %tr
    %td
      %label Status
      = f.collection_select :status_id, Status.find_all, :id, :name, {:disabled => lambda{|status| status.name == "Hidden" || status.name == "Reviewed" }}, :class => "help", :target => "_blank"
  %tr
    %td
      = f.collection_select :status_id, Status.find_all, :id, :name, {}, :class => 'selectbox'
  %tr
    %td
      %label Photo
  %tr
    %td
      = image_tag(@profile.photo.url(:profile), :class => 'photo')
      %br
      = f.file_field :photo, :class => 'button'
      = if @profile.new_record?
        = f.hidden_field :uuid, :value => "x_#{`uuidgen`.strip}"
