= link_to "EDIT PROFILE", edit_staff_profile_admin_url()
%div{:style => "float:right;padding-right:50px;"}= image_tag(@profile.photo.url(:profile))
%p
  %b Name: 
  = @profile.full_name
  = @profile.degree
%p
  %b Title: 
  = @profile.title!='' ? @profile.title : 'Not Entered'
%p 
  %b Position: 
  = @profile.position.name
%p 
  %b Email: 
  = @profile.email!='' ? @profile.email : 'Not Entered'
%p 
  %b Phone: 
  = @profile.phone!='' ? @profile.phone : 'Not Entered'
%p 
  %b Fax: 
  = @profile.fax!='' ? @profile.fax : 'Not Entered'
%p 
  %b Redirect Website: 
  = @profile.website!='' ? @profile.website : 'Not Entered'
%p 
  %b Address: 
  = @profile.address!='' ? @profile.address : 'Not Entered'
%p 
  %b Biography: 
  = @profile.biography!='' ? @profile.biography : 'Not Entered'
%p 
  %b Affiliations: 
  = @profile.affiliations!='' ? @profile.affiliations : 'Not Entered'
%p 
  %b Research: 
  = @profile.research!='' ? @profile.research : 'Not Entered'
%p 
  %b Clinical Interests: 
  = @profile.clinical_interests!='' ? @profile.clinical_interests : 'Not Entered'
%p 
  %b Publications (BibTex Format): 
  = @profile.publications!='' ? @profile.publications : 'Not Entered'
